@charset "UTF-8";

/*
Tristan's Website CSS Styling
Sets extra attributes so that the site looks nicer
*/
html 
{
    scroll-behavior: smooth;
}

body /* attributes applied to all text (other things like this apply to those things)*/
{
    text-align: center;
    color: black;
    text-emphasis-color: black;
    text-decoration-color: red;
    background-color: white;
    
}
h1 
{
    color: orange;
    text-align: center;
}
h5
{
    text-align: center;
}
ul 
{
    text-align: center;
    /* code below helps center the list elements */
    display: table;
    margin:0 auto;
}
li
{
    text-align: left;
}
img
{
    text-align: center;
}
a{ /*for a hrefs (aka links)*/
    color: limegreen;
}
a:hover{
    color:red;
}
a:active{
    color: lightblue;
}
a:visited{
    color:blueviolet;
}