@charset "UTF-8";

/*
Tristan's Website CSS Styling
Sets extra attributes so that the site looks nicer
*/

/*NAV: basic HTML*/
html 
{
    scroll-behavior: smooth;
}

body /* attributes applied to all text (other things like this apply to those things)*/
{
    text-align: center;
    color: black;
    text-emphasis-color: black;
    text-decoration-color: red;
    background-color: white;
    
}
h1 
{
    color: orange;
}
h2
{
    color: orangered;
}
h3
{
    color: rgb(100, 100, 240);
}
ul 
{
    /* code below helps center the list elements */
    display: table;
    margin:0 auto;
}
li
{
    text-align: left;
}
img
{
    text-align: center;
}
a{ /*for a hrefs (aka links)*/
    color: limegreen;
}
a:hover{
    color:red;
}
a:active{
    color: blue;
}
a:visited{
    color:limegreen;
}

/*NAV: nav bar*/

#vertical_nav_bar /*type UL*/
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: rgb(219, 219, 219);
  position: fixed;
  height: 100%;
  overflow: auto;
}

#vertical_nav_item /*type IL*/
{
    display: flex;
}

#vertical_nav_item a
{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

#vertical_nav_item a:hover
{
  background-color: (219, 219, 219);
  color: white;
}