@charset "UTF-8";

/*!
Tristan's Website
*/

body
{
    text-align: center;
}
h1
{
    text-align: center;
}
h5
{
    text-align: center;
}
ul 
{
    text-align: center;
}
li
{
    text-align: center;
}
img
{
    text-align: center;
}